<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">

  <title>maqueta china</title>
  <link rel="icon" type="image/x-icon" href="../static/img/logo.ico">

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
  <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>



  <!-- Bootstrap core CSS -->

  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    .background-image {background: #52c234;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .footer a {
      color: #70726F;
      font-size: 20px;
      padding: 10px;
      border-right: 1px solid #70726F;
      transition: all .5s ease;
    }
    .footer a:first-child {
      border-left: 1px solid #70726F;
    }
    .footer a:hover {
      color: white;
    }.btn-whatsapp {
       display:block;
       width:70px;
       height:70px;
       color:#fff;
       position: fixed;
       right:20px;
       bottom:20px;
       border-radius:50%;
       line-height:80px;
       text-align:center;
       z-index:999;
     }
  </style>


  <!-- Custom styles for this template -->
  <link href="../templates/carousel.css" rel="stylesheet">
</head>
<body class="background-image">


<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">China con África l</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>
</header>

<main>

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="10000">
        <img src="img/ny.jpg" class="d-block w-100" width="auto;" height= "600px;">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="img/IMG-20230309-WA0010.jpg" class="d-block w-100" width="auto;" height= "600px;">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="img/la.jpg" class="d-block w-100" width="auto;" height= "00px;">
      </div>
    </div>

  </div>
  <div class="h-100 d-flex align-items-center justify-content-center"><div class="wpb_wrapper">
    <div class="wpb_single_image wpb_content_element vc_align_center">

      <div class="wpb_wrapper vc_figure">
        <div class="vc_single_image-wrapper   vc_box_border_grey">
          <img width="1001" height="143" src="img/bannerok.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="banner_web_mientrada" sizes="(max-width: 1001px) 100vw, 1001px">
        </div>
      </div>
    </div>
    <div class="d-grid gap-2">
      <a href=pagos.html class="btn btn-primary" role="button">Comprar entradas!</a>

    </div>
  </div>


    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>





  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row center ">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" src="img/corona.png" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>



        <h2>Sponsor1</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#">detalle sponsor &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" src="img/descarga.jpeg" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Sponsor2</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#">detalle sponsor &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" src="img/jack.png" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2>Sponsor2</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="#">detalle sponsor  &raquo;</a></p>
        <div class="btn-whatsapp">
          <a href="https://api.whatsapp.com/send?phone=5199999999" target="_blank">
            <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
          </a>
        </div>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="img/banerFinal.png" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em" ></text></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="img/foxy2.jpg" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em" ></text></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="img/foxy3.jpg" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em" ></text></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <div id = "map" style = "width: auto; height:400px;"></div>
  <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script>
    // Creating map options
    var mapOptions = {
      center: [-32.87645241727823, -68.83555726141384],
      zoom: 10
    }

    // Creating a map object
    var map = new L.map('map', mapOptions);

    // Creating a Layer object
    var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

    // Adding layer to the map
    map.addLayer(layer);
  </script>
  <!-- FOOTER -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
  <footer class="footer">
    <div class="container text-center">
      <a href="#"><i class="fa fa-facebook"></i></a>


      <a href="#"><i class="fa fa-google-plus"></i></a>

    </div>
  </footer>
</main>


<script src="assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>